h1 {
    color: darkblue;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}

td {
    text-align: right;
}

body {
    background: skyblue;
}
